*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

/* Reset default styles */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Apply modern styles to the form container */
.form_container {
    width: 75%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form title */
.title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.title h3{
    margin-top: 20px;
}

/* Style form labels */
label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(50% - 10px); /* Reduce width by 50% */
    box-sizing: border-box;
    margin-bottom: 10px;
}
#categoriesDropdown {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.checkbox-wrapper label {
    margin-right: 5px; /* Adjust as needed */
}

input[type="number"] {
    width: 30%; /* Set custom width for number input */
}

/* Style checkbox inputs */
input[type="checkbox"] {
    margin-right: 5px;
}
#land-type-dropdown [name=land-type]{
    width: 25%;
}

/* Style submit button */
button[type="submit"] {
    width: calc(50% - 10px); /* Reduce width by 50% */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* Style map */
#map {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
div {
    margin-bottom: 10px; /* Adjust as needed */
}

label {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}
.anontype{
    margin-bottom: 10px;
}
/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
    label {
        display: block;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        width: 100%; /* Set width to 100% on mobile */
    }
    input[type="number"]{
        width: 50%;
    }

    button[type="submit"] {
        width: 100%; /* Set width to 100% on mobile */
    }
}


/*----------------------------------------*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00ff00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00ff00;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
